<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云官网 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/homepage]-->
    </head>
    <body>
        <div id="page-hd">
        <%include inc/head.ejs%>
        <!--widget[/slidebanner]-->
        </div>
        <!--homepagestarts-->        
        <div id="page-bd">
            <!-- news -->
            <div class="promlink skin-dark">
                <div class="wrap">
                    <ol>
                        <li>
                            <a href="#">
                                <span>金山云控制台监控升级公告制台监控...</span>
                                <span class="date">5-20</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>金山云控制台监控升级公告制台监控...</span>
                                <span class="date">5-20</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>金山云控制台监控升级公告制台监控...</span>
                                <span class="date">5-20</span>
                            </a>
                        </li> 
                     </ol>
                </div>
            </div>
            <!-- news ends -->
            <!-- 基础云服务服 -->
            <div class="ksc-intro skin-light">
                <div class="wrap">
                    <h2>基础云服务</h2>
                    <p>竭力为您提供便捷、安全、稳定云计算服务</p>
                    <ul class="sq-inline">
                        <li><a href="#">云服务器</a></li>
                        <li><a href="#">关系型数据库</a></li>
                        <li><a href="#">开放型云存储</a></li>
                        <li><a href="#">负载均衡</a></li>
                        <li><a href="#">内容分发CDN</a></li>
                    </ul>
                </div>
            </div>
            <!-- /基础云服务服 -->
            <!-- 云生态行业解决方案 -->
            <div class="ksc-intro skin-dark">
                <div class="wrap">
                    <h2>云生态行业解决方案</h2>
                    <p>竭力为用户提供细分行业解决方案，与众多合作伙伴打造行业云生态，为您的业务保驾护航</p>
                    <ul class="round-inline">
                        <li>
                            <a href="#">
                                <img src="/static/img/index/ico-play.png"/>
                                游戏
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/img/index/ico-gov.png"/>
                                政企
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/img/index/ico-video.png"/>
                                视频
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/img/index/ico-hardware.png"/>
                                智能硬件
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/img/index/ico-mobile.png"/>
                                移动
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/img/index/ico-site.png"/>
                                通用建站
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/img/index/ico-med.png"/>
                                医疗
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/img/index/ico-fin.png"/>
                                金融
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /云生态行业解决方案 -->
            <!-- 技术解决方案 -->
            <div class="ksc-intro skin-light">
                <div class="wrap">
                    <h2>技术解决方案</h2>
                    <p>私有云、混合云技术解决方案，解决企业上云难题。</p>
                    <div class="col-l">
                        <img src="/static/img/index/ico-private-cloud.png"/>
                        <img src="/static/img/index/ico-private-cloud-circle.png"/>
                        <img class="ico-cloud" src="/static/img/index/ico-red-cloud.png"/>
                        <img class="ico-cloud" src="/static/img/index/ico-red-cloud.png"/>
                        <img class="ico-cloud" src="/static/img/index/ico-red-cloud.png"/>
                    </div>
                    <div class="col-r">
                        <h3>私有云</h3>
                        <p>有主从热备的RDS产品，可以确保当主机故障时，秒级切换。一旦出现灾难性事件，用户可使用7天内的数据备份“时光回转”到任意时刻，点点鼠标轻松搞定高难度的数据恢复。配合金山云强大的技术团队，为客户打造更专业的数据库运行环境，更合理的CPU、内存配比，造就更稳定IOPS指标</p>
                        <a href="#">了解更多</a>
                    </div>
                    <div class="clearfix sp-line"></div>
                    <div class="col-l">
                        <h3>混合云</h3>
                        <p>有主从热备的RDS产品，可以确保当主机故障时，秒级切换。一旦出现灾难性事件，用户可使用7天内的数据备份“时光回转”到任意时刻，点点鼠标轻松搞定高难度的数据恢复。配合金山云强大的技术团队，为客户打造更专业的数据库运行环境，更合理稳定IOPS指标</p>
                        <a href="#">了解更多</a>
                    </div>
                    <div class="col-r">
                        <img src="/static/img/index/ico-public-cloud.png"/>
                        <img src="/static/img/index/ico-public-cloud-small.png"/>
                        <img class="ico-record" src="/static/img/index/ico-record.png"/>
                        <img class="ico-video" src="/static/img/index/ico-video.png"/>
                        <img class="ico-music" src="/static/img/index/ico-video.png"/>
                        <img class="ico-pic" src="/static/img/index/ico-video.png"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /技术解决方案 -->
            <!-- 案例 -->
            <div class="ksc-intro skin-dark">
                <div class="wrap showcase">
                    <h2>客户案例</h2>
                    <ol>
                        <li>游戏行业</li>
                        <li>政企行业</li>
                        <li>移动行业</li>
                        <li>移动行业</li>
                    </ol>
                    <ol>
                        <li>
                            <img src="/static/img/index/banner-case-1.png"/>
                        </li>
                        <li>
                            <img src="/static/img/index/banner-case-2.png"/>
                        </li>
                        <li>
                            <img src="/static/img/index/banner-case-3.png"/>
                        </li>
                        <li>
                            <img src="/static/img/index/banner-case-4.png"/>
                        </li>
                    </ol>
                    <div class="sp-line"></div>
                    <h2>合作伙伴</h2>
                    <p>我们诚邀各行业优秀的合作伙伴与金山云一起共建生态</p>
                    <ul class="co-link">
                        <li>
                            <img src="/static/img/index/co-link-1.png"/>
                            小游戏世界
                        </li>
                        <li>
                            <img src="/static/img/index/co-link-2.png"/>
                            完美世界
                        </li>
                        <li>
                            <img src="/static/img/index/co-link-3.png"/>
                            链家地产
                        </li>
                        <li>
                            <img src="/static/img/index/co-link-4.png"/>
                            掌娱天下
                        </li>
                        <li>
                            <img src="/static/img/index/co-link-5.png"/>
                            小皮游戏
                        </li>
                        <li>
                            <img src="/static/img/index/co-link-5.png"/>
                            热裤
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /案例 -->
            <!-- promnews -->
            <div class="ksc-intro skin-light">
                <div class="wrap">
                    <div class="col-3">
                        <h3>品牌事件</h3>
                        <ol>
                            <li>
                                <span class="date">【08.08】</span>
                                <a href="#">新闻资讯金山医云+北大医信</a>
                            </li>
                            <li>
                                <span class="date">【08.08】</span>
                                <a href="#">新闻资讯金山医云+北大医信</a>
                            </li>
                            <li>
                                <span class="date">【08.08】</span>
                                <a href="#">新闻资讯金山医云+北大医信</a>
                            </li>
                            <li>
                                <span class="date">【08.08】</span>
                                <a href="#">新闻资讯金山医云+北大医信</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <h3>产品更新&公告</h3>
                        <ol>
                            <li>
                                <span class="date">【08.08】</span>
                                <a href="#">新闻资讯金山医云+北大医信</a>
                            </li>
                            <li>
                                <span class="date">【08.08】</span>
                                <a href="#">新闻资讯金山医云+北大医信</a>
                            </li>
                            <li>
                                <span class="date">【08.08】</span>
                                <a href="#">新闻资讯金山医云+北大医信</a>
                            </li>
                            <li>
                                <span class="date">【08.08】</span>
                                <a href="#">新闻资讯金山医云+北大医信</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <h3>最新活动</h3>
                        <ol>
                            <li class="banner">
                                <a href="#"><img src="static/img/index/banner-act.png"/></a>
                            </li>
                            <li>
                                <span class="date">【08.08】</span>
                                <a href="#">新闻资讯金山医云+北大医信</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /promnews -->
            <!--promvip-->
            <div class="promvip skin-prom">
                <div class="wrap">
                    <ol>
                        <li>
                            <a href="#">7x24<span>小时服务</span></a>
                        </li>
                        <li>
                            <a href="#">VIP<span>服务专享</span></a>
                        </li>
                        <li>
                            <a href="#">5天<span>无理由退款</span></a>
                        </li>
                        <li>
                            <a href="#">免费<span>提供备案</span></a>
                        </li>
                        <li>
                            <a href="#">自定义<span>镜像</span></a>
                        </li>
                    </ol>
                </div>
            </div>
            <!--/promvip-->
        </div>
        <!--homepageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
    </body>
</html>
