<!--footbar-->
<footer class="footbar">
    <div class="wrap">
        <div class="col-5">
            <h4>产品与服务</h4>
            <a href="#">计算与网络</a>
            <a href="#">数据库服务</a>
            <a href="#">金山云存储</a>
            <a href="#">监控与管理</a>
            <a href="#">特色游戏云</a>
            <a href="#">开放平台API</a>
        </div>    
        <div class="col-5">
            <h4>解决方案</h4>
            <a href="#">游戏</a>
            <a href="#">政企</a>
            <a href="#">视频</a>
            <a href="#">智能硬件</a>
            <a href="#">移动</a>
            <a href="#">通用建站</a>
        </div>    
        <div class="col-5">
            <h4>帮助文档</h4>
            <a href="#">技术文档</a>
            <a href="#">服务工单</a>
            <a href="#">历史消息</a>
            <a href="#">网站备案</a>
        </div>    
        <div class="col-5">
            <h4>Test</h4>
            <a href="#">历史消息</a>
            <a href="#">历史消息</a>
            <a href="#">历史消息</a>
            <a href="#">历史消息</a>
            <a href="#">历史消息</a>
        </div>    
        <div class="col-5">
            <a href="#">技术支持：4000-000－000</a>    
            <a href="#">在线客服</a>    
            <a href="#">金山云微博</a>    
            <a href="#">联系金山云</a>
            <div class="ksc-code">
                <img src="/static/img/index/ksc-code.png"/>
            </div>    
        </div>    
    </div>
    <div class="wrap">
        <div class="site-cp">
            2015 Ksyun All Rights Reserved Kingsoft Corp. 北京金山云网络技术有限公司 京ICP证120829号 京ICP备12032080号-2
        </div>
        <div class="site-vip">
            <img src="/static/img/index/ksc-vip-service-1.png"/>
            <img src="/static/img/index/ksc-vip-service-2.png"/>
        </div>
    </div>
</footer>
<!--/footbar-->
