/*
* @file topnav
*/
@import  '../../assets/style/lib/skin.scss';

.topnav {
    background: $skin-nav;
    padding: 18px 0 0 0;
    border-bottom: 1px solid $skin-navwrap-border;
    position: relative;
    z-index: 2;
    div.subnav {
        display: none;
        position: absolute;
        width: 600px;
        padding: 25px;
        border-top: 3px solid $skin-nav-border;
        left: 50%;
        margin-left: -325px;
        background: $skin-light;
        @include crossprop(box-shadow, 1px 3px 3px rgba(0, 0, 0, 0.1));
        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 12px;
            height: 6px;
            background: url('/assets/img/common/ico-arrow-nav.png') left top no-repeat;
            top: -6px;
            left: 50%;
            margin-left: -6px;
        }
        section {
            width: 120px;
            float: left;
            margin-right: 40px;
            padding-bottom: 25px;   
            &:nth-of-type(4) {
                margin-right: 0;
            }
            &:nth-of-type(5) {
                clear: left;
            }
            h3 {
                font-weight: normal;
                font-size: 12px;
                color: $color-btn;
                padding-bottom: 5px;
                border-bottom: 1px solid $skin-border;
                margin-bottom: 10px;
            }
            a {
                display: block;
                line-height: 30px;
                padding-left: 30px;
                &:hover {
                    color: $color-highlight;
                    
                }
                span {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin: 0 10px 0 -30px;
                    position: relative;
                    top: 5px;
                    opacity: 0.3;
                    background: url('/assets/img/common/ico-nav-1.png') left top no-repeat;
                }
            }
        }
    } 
}
.topnav .logo {
    float: left;
    position: relative;
    top: -8px;
    a {
        text-indent: -9999em;
        display: block;
        width: 120px;
        height: 34px;
        background: url('/assets/img/static/logo.png') left top no-repeat;
    }
}
.topnav .nav {
    float: right;
    position: relative;
    z-index: 1;
}
.topnav .nav li {
    float: left;
    margin: 0 35px 0 0;
    position: relative;
    &:last-child {
        margin: 0;
    }
    &:hover {
        div.subnav {
            display: block;
            @include crossprop(animation, opacityChange 300ms);
        }
    }
    > a {
        display:block;
        font-size: 16px;
        line-height: 20px;
        padding: 0 8px 15px;
    }
}
.topnav .nav li.current, .topnav .nav li.active {
    > a {
        border-bottom: 3px solid $skin-nav-border;
        margin-bottom: -1px;
    }
}
