/*
* @file topnav
*/
@import  '../../assets/style/lib/skin.scss';

.topnav {
    background: $skin-nav;
    padding: 18px 0 0 0;
    border-bottom: 1px solid $skin-navwrap-border;
}
.topnav .logo {
    float: left;
    a {
        text-indent: -9999em;
        display: block;
        width: 120px;
        height: 34px;
        background: url('/assets/img/static/logo.png') left top no-repeat;
    }
}
.topnav .nav {
    float: right;
}
.topnav .nav li {
    float: left;
    margin: 0 35px 0 0;
    &:last-child {
        margin: 0;
    }
    > a {
        display:block;
        padding: 10px 8px 20px;
    }
}
.topnav .nav li.current, .topnav .nav li.active {
    > a {
        border-bottom: 3px solid $skin-nav-border;
        margin-bottom: -1px;
    }
}
