<!--顶部bar-->
<div class="topbar">
    <div class="wrap">
        <ol>
            <li><a href="http://www.ksyun.com/user/login?result=-107&callback=http%3A%2F%2Fwww.ksyun.com%2Fconsole%2Findex" target="_blank">控制台</a></li>
            <!-- nologin 
            <li><a href="http://www.ksyun.com/user/apply">注册</a></li>
            <li class="sp-line"><a href="http://www.ksyun.com/user/login">登录</a><span>|</span></li>
            -->
            <li class="usr-info">
                <strong>刘晓伟刘晓伟小伟<span class="ico-arr"></span></strong>
                <div class="usr-info">
                    <ol>
                        <li>
                            账户余额
                            <a href="http://i.ksyun.com/pay">充值</a>
                        </li>
                        <li>
                            ¥12000.00
                        </li>
                    </ol>
                    <a href="#">账户信息</a>
                    <a href="#">我的订单</a>
                    <a href="#">消费记录</a>
                    <a href="#">售后支持</a>
                    <a href="#" class="btn-logout">退出登录</a>
                </div>
            </li>
            <li>技术支持: 4008-823-823</li>
        </ol> 
    </div>
</div>
<!--/顶部bar-->
