<!--顶部bar-->
<div class="topbar">
    <div class="wrap">
        <ol>
            <li>技术支持: 4008-823-823</li>
            <li>登录<span class="sp-line">|</span></li>
            <li>注册</li>
            <li>控制台</li>
        </ol> 
    </div>
</div>
<!--/顶部bar-->
