/**
 *@file slide banner
*/
@import  '../../assets/style/lib/skin.scss';
.slidebanner {
    height: 720px;
    position: relative;
    top: -56px;
    margin-bottom: -56px;
    overflow: hidden;
    .banner {
        li {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            // @include crossprop(background-size, 100% 100%);
        }
        a {
            display: block;
            text-align: center;
            > .wrap {
                text-align: left;
                margin: 0 auto;
                position: relative;
                height: 720px;
                img {
                    position: absolute;
                    &:first-child {
                        left: -80px;
                        top: 270px;
                        width: 538px;
                        height: 199px;
                    }
                    &:last-child {
                        right: -175px;
                        top: 122px;
                        width: 702px;
                        height: 521px;
                    }
                }
            }
        }
        img {
            display: block;
        }
    }
}
.slidebanner .banner {
    li.active {
        img {
            &:first-child { @include crossprop(animation, slidebanner 10s);}
            &:last-child { @include crossprop(animation, islidebanner 10s);}
        }
    }
    li.out {
        img {
            &:first-child { @include crossprop(animation, outbanner 600ms);}
            &:last-child { @include crossprop(animation, outbanner 550ms);}
        }
    }
    li.in {
        img {
            &:first-child { @include crossprop(animation, inbanner 500ms);}
            &:last-child { @include crossprop(animation, inbanner 600ms);}
        }
    }
}
.slidebanner .dot-index {
    position: absolute;
    bottom: 30px;
    left: 50%;
    visibility: hidden;
    // margin-left: -73px;
    li {
        display: inline-block;
        cursor: pointer;
        width: 16px;
        height: 16px;
        margin: 0 4px;
        text-indent: -9999em;
        overflow: hidden;
        background: #adacab;
        border: 1px solid #adacab;
        @include crossprop(border-radius, 8px);
        @include transitionpro(background);
    }
    li.active {
        background: #fff;
    }
}

// animate
@keyframes slidebanner {
    0% {
        transform: scale3d(1.05, 1.05, 1.05) translateX(600px);
    }
    5% {
        transform: scale3d(1.05, 1.05, 1.05) translateX(0);
    }
    95% {
        transform: scale3d(1, 1, 1) translateX(0);   
    }
    96% {
        transform: scale3d(1, 1, 1) translateX(-600px);
    }
    100% {
        transform: scale3d(1, 1, 1) translateX(-600px);
    }
}
@keyframes islidebanner {
    0% {
        transform: scale3d(0.92, 0.92, 0.92) translateX(600px);
    }
    7% {
        transform: scale3d(0.92, 0.92, 0.92) translateX(0);
    }
    96% {
        transform: scale3d(1, 1, 1) translateX(0);   
    }
    97% {
        transform: scale3d(1, 1, 1) translateX(-600px);
    }
    100% {
        transform: scale3d(1, 1, 1) translateX(-600px);
    }
}
@-moz-keyframes slidebanner {
    0% {
        -moz-transform: scale3d(1.05, 1.05, 1.05) translateX(600px);
    }
    5% {
        -moz-transform: scale3d(1.05, 1.05, 1.05) translateX(0);
    }
    95% {
        -moz-transform: scale3d(1, 1, 1) translateX(0);   
    }
    96% {
        -moz-transform: scale3d(1, 1, 1) translateX(-600px);
    }
    100% {
        -moz-transform: scale3d(1, 1, 1) translateX(-600px);
    }
}
@-moz-keyframes islidebanner {
   0% {
        －moz-transform: scale3d(0.92, 0.92, 0.92) translateX(600px);
    }
    7% {
        -moz-transform: scale3d(0.92, 0.92, 0.92) translateX(0);
    }
    96% {
        -moz-transform: scale3d(1, 1, 1) translateX(0);   
    }
    97% {
        -moz-transform: scale3d(1, 1, 1) translateX(-600px);
    }
    100% {
        -moz-transform: scale3d(1, 1, 1) translateX(-600px);
    }
}
@-o-keyframes slidebanner {
    0% {
        -o-transform: scale3d(1.05, 1.05, 1.05) translateX(600px);
    }
    5% {
        -o-transform: scale3d(1.05, 1.05, 1.05) translateX(0);
    }
    95% {
        -o-transform: scale3d(1, 1, 1) translateX(0);   
    }
    96% {
        -o-transform: scale3d(1, 1, 1) translateX(-600px);
    }
    100% {
        -o-transform: scale3d(1, 1, 1) translateX(-600px);
    }
}
@-o-keyframes islidebanner {
    0% {
        -o-transform: scale3d(0.92, 0.92, 0.92) translateX(600px);
    }
    7% {
        -o-transform: scale3d(0.92, 0.92, 0.92) translateX(0);
    }
    96% {
        -o-transform: scale3d(1, 1, 1) translateX(0);   
    }
    97% {
        -o-transform: scale3d(1, 1, 1) translateX(-600px);
    }
    100% {
        -o-transform: scale3d(1, 1, 1) translateX(-600px);
    }
}
@-ms-keyframes slidebanner {
    0% {
        -ms-transform: scale3d(1.05, 1.05, 1.05) translateX(600px);
    }
    5% {
        -ms-transform: scale3d(1.05, 1.05, 1.05) translateX(0);
    }
    95% {
        -ms-transform: scale3d(1, 1, 1) translateX(0);   
    }
    96% {
        -ms-transform: scale3d(1, 1, 1) translateX(-600px);
    }
    100% {
        -ms-transform: scale3d(1, 1, 1) translateX(-600px);
    }
}
@-ms-keyframes islidebanner {
    0% {
        -ms-transform: scale3d(0.92, 0.92, 0.92) translateX(600px);
    }
    7% {
        -ms-transform: scale3d(0.92, 0.92, 0.92) translateX(0);
    }
    96% {
        -ms-transform: scale3d(1, 1, 1) translateX(0);   
    }
    97% {
        -ms-transform: scale3d(1, 1, 1) translateX(-600px);
    }
    100% {
        -ms-transform: scale3d(1, 1, 1) translateX(-600px);
    }
}
