<!--slidebanner-->
<div class="slidebanner">
    <ol class="banner">
        <li data-bg="/assets/img/static/slidebanner/bg.png">
            <a href="#">
                <img src="/static/img/index/banner-1.png"/>
                <img src="/static/img/index/banner-1.png"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/img/index/banner-1.png"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/img/index/banner-1.png"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/img/index/banner-1.png"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/img/index/banner-1.png"/>
            </a>
        </li>
    </ol>
    <ol class="dot-index">
    	<li>1</li>
    	<li>2</li>
    	<li>3</li>
    	<li>4</li>
    	<li>5</li>
    </ol>
</div>
<!--/slidebanner-->
