<!--slidebanner-->
<div class="slidebanner">
    <ol class="banner">
        <li style="background-image:url(/assets/img/static/slidebanner/bg.png)">
            <a href="#">
                <div class="wrap">
                    <img src="/assets/img/static/slidebanner/slidebanner-1.png"/>
                <img src="/assets/img/static/slidebanner/slidebanner-2.png"/>
                </div>
            </a>
        </li>
        <li style="background-color:black">
            <a href="#">
                <div class="wrap">
                    <img src="/assets/img/static/slidebanner/slidebanner-1.png"/>
                <img src="/assets/img/static/slidebanner/slidebanner-2.png"/>
                </div>
            </a>
        </li>
        <li style="background-color:yellow">
            <a href="#">
                <div class="wrap">
                    <img src="/assets/img/static/slidebanner/slidebanner-1.png"/>
                <img src="/assets/img/static/slidebanner/slidebanner-2.png"/>
                </div>
            </a>
        </li>
        <li style="background-color:green">
            <a href="#">
                <div class="wrap">
                    <img src="/assets/img/static/slidebanner/slidebanner-1.png"/>
                <img src="/assets/img/static/slidebanner/slidebanner-2.png"/>
                </div>
            </a>
        </li>
        <li style="background-color:blue">
            <a href="#">
                <div class="wrap">
                    <img src="/assets/img/static/slidebanner/slidebanner-1.png"/>
                <img src="/assets/img/static/slidebanner/slidebanner-2.png"/>
                </div>
            </a>
        </li>
    </ol>
    <ol class="dot-index">
    	<li>1</li>
    	<li>2</li>
    	<li>3</li>
    	<li>4</li>
    	<li>5</li>
    </ol>
    <div class="clearfix"></div>
</div>
<!--/slidebanner-->
