/*
 *@file homepage
*/
@import '../lib/skin.scss';

.promlink li {
    float: left;
    width: 33%;
    > a {
        display: block;
        line-height: 42px;
        &:hover {
            color: $color-highlight;
        }
    }
    > a span {
        display: inline-block;
        &:nth-child(2) {
            display: inline;           
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.promlink + .ksc-intro {
    padding: 45px 0 80px !important;
}
.ksc-intro {
    padding: 60px 0 90px;
    h2 {
        text-align: center;
        font-size: 34px;
        color: $color;
        margin-bottom: 30px;
        font-weight: normal;
        + p {
            font-size: 14px;
            color: $color-des;
            margin-bottom: 50px;
            text-align: center;
        }
    }
    .sq-inline {
        overflow: hidden;
        background: url('/assets/img/static/home/bg-sqinline.png') left top no-repeat;
        li {
            float: left;
            width: 199px;
            height: 210px;
            border-right: 1px solid #fff;
            text-align: center;
            font-size: 22px;
            background: rgba(115, 111, 111, 0.9);
            &:hover {
                background: rgba(219, 51, 51, 0.9);
                @include transproptime(background, 500ms);
                span.ico-img {
                    background: transparent;
                    @include crossprop(transform, translateY(11px));
                    img {
                        @include crossprop(filter, invert(1));
                    }
                    + section.intro {
                         @include crossprop(transform, translateY(-45px));
                    }
                }
            }
            a {
                color: $color-light;
                display: block;
                height: 210px;
                overflow: hidden;
                span {
                    display: block;
                    font-size: 12px;
                    margin-top: 30px;
                }
                span.ico-img {
                    background: #fff;
                    width: 82px;
                    height: 82px;
                    @include crossprop(border-radius, 41px);
                    @include crossprop(transform, translateY(44px));
                    @include transitionpropmix(transform 400ms, background 300ms);
                    position: relative;
                    margin: 0 auto 64px;
                    img {
                        width: 40px;
                        height: 43px;
                        margin-top: 20px;
                    }
                    + section.intro {
                         @include transproptime(transform, 400ms);
                    }
                }
            }
        }
    }
    .round-inline {
        + .clearfix {
            margin-bottom: -50px;
        }
        li {
            width: 175px;
            height: 220px;
            float: left;
            margin: 0 100px 50px 0;
            &:nth-of-type(4n) {
                margin: 0;
            }
            &:nth-of-type(5) {
                clear: both;
            }
            a {
                text-align: center;
                display: block;
                font-size: 22px;
            }
            img {
                margin: 0 auto 15px;
                display: block;
                width: 175px;
                height: 175px;
                position: relative;
                @include transproptime(transform, 200ms);
            }
            .round-wrap {
                position: relative;
                &:after, &:before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    content: "";
                    @include crossprop(border-radius, 88px);
                }
                &:before {
                    color: #fff;
                    @include crossprop(transform, translateX(-90px));
                }
            }
            &:hover {
                img {
                    @include crossprop(transform, scale3d(1.1, 1.1, 1.1));
                }
                .disabled img {
                    @include crossprop(transform, scale3d(1, 1, 1));
                }
                .disabled .round-wrap {
                    &:after {
                        background: rgba(126, 123, 124, 0.9);
                        padding: 80px 0 0 0;
                        @include transproptime(background, 200ms);
                    }
                    &:before {
                        content: "敬请期待";
                        z-index: 1;
                        padding: 80px 0 0 0;
                        @include crossprop(transform, translateX(0));
                        @include transproptime(transform, 300ms);
                    }
                }
            }
        }
    }
    .round-inline.active li{
        &:nth-of-type(1) img{
            @include crossprop(animation, eachscale 200ms);
        }
        &:nth-of-type(2) img{
            @include crossprop(animation, eachscale 400ms);
        }
        &:nth-of-type(3) img{
            @include crossprop(animation, eachscale 600ms);
        }
        &:nth-of-type(4) img{
            @include crossprop(animation, eachscale 800ms);
        }
        &:nth-of-type(5) img{
            @include crossprop(animation, eachscale 200ms);
        }
        &:nth-of-type(6) img{
            @include crossprop(animation, eachscale 400ms);
        }
        &:nth-of-type(7) img{
            @include crossprop(animation, eachscale 600ms);
        }
        &:nth-of-type(8) img{
            @include crossprop(animation, eachscale 800ms);
        }
    }   
 
    .col-l {
        float: left;
        width: 470px;
        position: relative;
        z-index: 1;
        margin-bottom: 50px;
        img:nth-child(2) {
            position: absolute;
            left: -23px;
            top: 25px;
            z-index: 2;
        }
        img:nth-child(3) {
            position: absolute;
            z-index: 3;
            left: -40px;
            top: 70px;
            @include crossprop(transform, scale3d(0.7, 0.7, 0.7));
        }
        img:nth-child(4) {
            position: absolute;
            bottom: 50px;
            left: 70px;
            z-index: 1;
        }
        img:nth-child(5) {
            position: absolute;
            z-index: -1;
            left: 200px;
            top: 30px;
            @include crossprop(transform, scale3d(0.5, 0.5, 0.5));
        }
    }
    .sp-line + .col-l {
        padding: 50px 0 0 0;
        + .col-r{
            padding: 50px 0 0 0;
        }
    }
    .col-l.active {
        img:nth-child(3) {
            @include crossprop(animation, cloudy 3000ms 2);
        }
        img:nth-child(4) {
            @include crossprop(animation, cloudy2 3000ms 2);
        }
        img:nth-child(5) {
            @include crossprop(animation, cloudy3 3000ms 2);
        }
    }
    
    .col-r {
        float: right;
        width: 530px;
        position: relative;
        z-index: 1;
        img:nth-child(2) {
            position: absolute;
            left: 60px;
            top: 130px;
        }
        img:nth-child(3) {
            position: absolute;
            left: 140px;
            top: 30px;
            z-index: -1;
        }
        img:nth-child(4) {
            position: absolute;
            left: 280px;
            top: 30px;
        }
        img:nth-child(5) {
            position: absolute;
            left: 260px;
            top: 70px;
        }
        img:nth-child(6) {
            position: absolute;
            left: 230px;
            top: 95px;
        }
        img:nth-child(7) {
            position: absolute;
            left: 290px;
            top: 105px;
        }
    }
    
    .col-r.active {
        img:nth-child(2) {
            @include crossprop(animation, mixcloudy 600ms 1);
        }
        img:nth-child(3) {
            @include crossprop(animation, mixcloudy2 900ms 1);
        }
        img:nth-child(4) {
            @include crossprop(animation, mixcloudy3 1800ms 1);
        }
        img:nth-child(5) {
            @include crossprop(animation, mixcloudy4 1900ms 1);
        }
        img:nth-child(6) {
            @include crossprop(animation, mixcloudy5 2000ms 1);
        }
        img:nth-child(7) {
            @include crossprop(animation, mixcloudy6 2100ms 1);
        }
    }

    h3 , h4 {
        font-size: 28px;
        margin: 0 0 5px 0;
        font-weight: normal;
        display: inline-block;
        border-bottom: 1px solid $skin-title-border;
        padding-bottom: 8px;
        + p {
            margin: 30px 0 20px;
            color: $color-des;
            line-height: 1.75em;
        }
    }
    
    h4 {
        font-size: 24px;
        margin-bottom: 15px;
        + ol {
            margin-left: -8px;
            li {
                line-height: 2.25em;
            }
        }
    }    

    .showcase {
        text-align: center;
        overflow: hidden;
        ol:nth-of-type(1) {
            margin: 0 auto 30px !important;
            display: inline-block;
            > li {
                line-height: 32px;
                font-size: 18px;
                cursor: pointer;
                display: inline-block;
                padding: 5px 15px;
                margin-right: 10px;
                &:hover {
                    color: $color-highlight;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            > li.active {
                background: $skin-highlight;
                color: $color-light;
                @include crossprop(border-radius, 3px);
                @include transitionpro(background);
            }
        }
        ol:nth-of-type(2) {
            height: 310px;
            overflow: hidden;
            margin-bottom: 30px;
            li {
                height: 310px;
            }
        }
    }
    
    .sp-line {
        border-bottom: 1px solid $skin-sp;
        + h2 {
            padding-top: 45px;
        }    
    }
    .co-link {
        li {
            float: left;
            font-size: 20px;
            color: $color;
            margin-right: 56px;
            &:last-child {
                margin: 0;
            }
        }
        img {
            width: 120px;
            height: 74px;
            display: block;
        }
    }
    .col-3 {
        span , a{
            color: $color-dark;
        }
        a:hover {
            color: $color-link-hover;
        }
        .banner {
            padding-left: 8px;
        }
    }
}

.promvip li {
    border-right: 1px solid $color-light;
    color: $color-light;
    a {
        color: $color-light;
        span {
            display: block;
        }
    }
    &:last-child {
        border: 0;
    }
}

// animate
@keyframes eachscale {
    0% { transform: scale3d(1.2, 1.2, 1.2);}
    100% { transform: scale3d(1, 1, 1);}
}
@-moz-keyframes eachscale {
    0% { -moz-transform: scale3d(1.2, 1.2, 1.2);}
    100% { -moz-transform: scale3d(1, 1, 1);}
}
@-o-keyframes eachscale {
    0% { -o-transform: scale3d(1.2, 1.2, 1.2);}
    100% { -o-transform: scale3d(1, 1, 1);}
}
@-ms-keyframes eachscale {
    0% { -ms-transform: scale3d(1.2, 1.2, 1.2);}
    100% { -ms-transform: scale3d(1, 1, 1);}
}
@keyframes cloudy {
    0%, 100%{transform:scale3d(0.7, 0.7, 0.7) translateY(0); opacity: 1;  }
    25%, 75%{transform:scale3d(0.7, 0.7, 0.7) translateY(-10px); opacity: 0.95; }
    50%{transform:scale3d(0.7, 0.7, 0.7) translateY(10px); opacity: 0.93;}
}
@-moz-keyframes cloudy {
    0%, 100%{-moz-transform:scale3d(0.7, 0.7, 0.7) translateY(0); opacity: 1;  }
    25%, 75%{-moz-transform:scale3d(0.7, 0.7, 0.7) translateY(-10px); opacity: 0.95; }
    50%{-moz-transform:scale3d(0.7, 0.7, 0.7) translateY(10px); opacity: 0.93;}
}
@-o-keyframes cloudy {
    0%, 100%{-o-transform:scale3d(0.7, 0.7, 0.7) translateY(0); opacity: 1;  }
    25%, 75%{-o-transform:scale3d(0.7, 0.7, 0.7) translateY(-10px); opacity: 0.95; }
    50%{-o-transform:scale3d(0.7, 0.7, 0.7) translateY(10px); opacity: 0.93;}
}
@-ms-keyframes cloudy {
    0%, 100%{-ms-transform:scale3d(0.7, 0.7, 0.7) translateY(0);}
    25%, 75%{-ms-transform:scale3d(0.7, 0.7, 0.7) translateY(-10px);}
    50%{-ms-transform:scale3d(0.7, 0.7, 0.7) translateY(10px);}
}
@keyframes cloudy2 {
    0%, 100%{transform:translate3d(0, 0, 0); opacity: 1; }
    25%, 75%{transform:translate3d(10px, 20px, 0); opacity: 0.95; }
    50%{transform:translate3d(15px, -10px, 0); opacity: 0.93;}
}
@-moz-keyframes cloudy2 {
    0%, 100%{-moz-transform:translate3d(0, 0, 0); opacity: 1; }
    25%, 75%{-moz-transform:translate3d(10px, 20px, 0); opacity: 0.95; }
    50%{-moz-transform:translate3d(15px, -10px, 0); opacity: 0.93;}
}
@-o-keyframes cloudy2 {
    0%, 100%{-o-transform:translate3d(0, 0, 0); opacity: 1; }
    25%, 75%{-o-transform:translate3d(10px, 20px, 0); opacity: 0.95; }
    50%{-o-transform:translate3d(15px, -10px, 0); opacity: 0.93;}
}
@-ms-keyframes cloudy2 {
    0%, 100%{-ms-transform:translate3d(0, 0, 0); opacity: 1; }
    25%, 75%{-ms-transform:translate3d(10px, 20px, 0); opacity: 0.95; }
    50%{-ms-transform:translate3d(15px, -10px, 0); opacity: 0.93;}
}
@keyframes cloudy3 {
    0%, 100%{transform:scale3d(0.5, 0.5, 0.5) translateY(0); opacity: 1; }
    25%, 75%{transform:scale3d(0.5, 0.5, 0.5) translateY(10px); opacity: 0.95; }
    50%{transform:scale3d(0.5, 0.5, 0.5) translateY(-20px); opacity: 0.93;}
}
@-moz-keyframes cloudy3 {
    0%, 100%{-moz-transform:scale3d(0.5, 0.5, 0.5) translateY(0); opacity: 1; }
    25%, 75%{-moz-transform:scale3d(0.5, 0.5, 0.5) translateY(10px); opacity: 0.95; }
    50%{-moz-transform:scale3d(0.5, 0.5, 0.5) translateY(-20px); opacity: 0.93;}
}
@-o-keyframes cloudy3 {
    0%, 100%{-o-transform:scale3d(0.5, 0.5, 0.5) translateY(0); opacity: 1; }
    25%, 75%{-o-transform:scale3d(0.5, 0.5, 0.5) translateY(10px); opacity: 0.95; }
    50%{-o-transform:scale3d(0.5, 0.5, 0.5) translateY(-20px); opacity: 0.93;}
}
@-ms-keyframes cloudy3 {
    0%, 100%{-ms-transform:scale3d(0.5, 0.5, 0.5) translateY(0); opacity: 1; }
    25%, 75%{-ms-transform:scale3d(0.5, 0.5, 0.5) translateY(10px); opacity: 0.95; }
    50%{-ms-transform:scale3d(0.5, 0.5, 0.5) translateY(-20px); opacity: 0.93;}
}

@keyframes mixcloudy {
    0%{transform:translate3d(-100px, 0, 0); opacity: 0.9;}
    100%{transform:translate3d(0, 0, 0); opacity: 1;}
}
@-moz-keyframes mixcloudy {
    0%{-moz-transform:translate3d(-100px, 0, 0); opacity: 0.9;}
    100%{-moz-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-o-keyframes mixcloudy {
    0%{-o-transform:translate3d(-100px, 0, 0); opacity: 0.9;}
    100%{-o-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-ms-keyframes mixcloudy {
    0%{-ms-transform:translate3d(-100px, 0, 0); opacity: 0.9;}
    100%{-ms-transform:translate3d(0, 0, 0); opacity: 1;}
}

@keyframes mixcloudy2 {
    0%{transform:translate3d(100px, 0, 0); opacity: 0.9;}
    100%{transform:translate3d(0, 0, 0); opacity: 1;}
}
@-moz-keyframes mixcloudy2 {
    0%{-moz-transform:translate3d(100px, 0, 0); opacity: 0.9;}
    100%{-moz-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-o-keyframes mixcloudy2 {
    0%{-o-transform:translate3d(100px, 0, 0); opacity: 0.9;}
    100%{-o-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-ms-keyframes mixcloudy2 {
    0%{-ms-transform:translate3d(100px, 0, 0); opacity: 0.9;}
    100%{-ms-transform:translate3d(0, 0, 0); opacity: 1;}
}

@keyframes mixcloudy3 {
    0%{transform:translate3d( 60px, -100px, 0); opacity: 0;}
    50%{transform:translate3d( 60px, -100px, 0); opacity: 0;}
    60%{transform:translate3d( 60px, -100px, 0); opacity: 0.9;}
    100%{transform:translate3d(0, 0, 0); opacity: 1;}
}
@-moz-keyframes mixcloudy3 {
    0%{-moz-transform:translate3d( 60px, -100px, 0); opacity: 0;}
    50%{-moz-transform:translate3d( 60px, -100px, 0); opacity: 0;}
    60%{-moz-transform:translate3d( 60px, -100px, 0); opacity: 0.9;}
    100%{-moz-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-o-keyframes mixcloudy3 {
    0%{-o-transform:translate3d( 60px, -100px, 0); opacity: 0;}
    50%{-o-transform:translate3d( 60px, -100px, 0); opacity: 0;}
    60%{-o-transform:translate3d( 60px, -100px, 0); opacity: 0.9;}
    100%{-o-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-ms-keyframes mixcloudy3 {
    0%{-ms-transform:translate3d( 60px, -100px, 0); opacity: 0;}
    50%{-ms-transform:translate3d( 60px, -100px, 0); opacity: 0;}
    60%{-ms-transform:translate3d( 60px, -100px, 0); opacity: 0.9;}
    100%{-ms-transform:translate3d(0, 0, 0); opacity: 1;}
}

@keyframes mixcloudy4 {
    0%{transform:translate3d( -100px, -80px, 0); opacity: 0;}
    50%{transform:translate3d( -100px, -80px, 0); opacity: 0;}
    60%{transform:translate3d( -100px, -80px, 0); opacity: 0.9;}
    100%{transform:translate3d(0, 0, 0); opacity: 1;}
}
@-moz-keyframes mixcloudy4 {
    0%{-moz-transform:translate3d( -100px, -80px, 0); opacity: 0;}
    50%{-moz-transform:translate3d( -100px, -80px, 0); opacity: 0;}
    60%{-moz-transform:translate3d( -100px, -80px, 0); opacity: 0.9;}
    100%{-moz-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-o-keyframes mixcloudy4 {
    0%{-o-transform:translate3d( -100px, -80px, 0); opacity: 0;}
    50%{-o-transform:translate3d( -100px, -80px, 0); opacity: 0;}
    60%{-o-transform:translate3d( -100px, -80px, 0); opacity: 0.9;}
    100%{-o-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-ms-keyframes mixcloudy4 {
    0%{-ms-transform:translate3d( -100px, -80px, 0); opacity: 0;}
    50%{-ms-transform:translate3d( -100px, -80px, 0); opacity: 0;}
    60%{-ms-transform:translate3d( -100px, -80px, 0); opacity: 0.9;}
    100%{-ms-transform:translate3d(0, 0, 0); opacity: 1;}
}

@keyframes mixcloudy5 {
    0%{transform:translate3d( -80px, 30px, 0); opacity: 0;}
    50%{transform:translate3d( -80px, 30px, 0); opacity: 0;}
    60%{transform:translate3d( -80px, 30px, 0); opacity: 0.9;}
    100%{transform:translate3d(0, 0, 0); opacity: 1;}
}
@-moz-keyframes mixcloudy5 {
    0%{-moz-transform:translate3d( -80px, 30px, 0); opacity: 0;}
    50%{-moz-transform:translate3d( -80px, 30px, 0); opacity: 0;}
    60%{-moz-transform:translate3d( -80px, 30px, 0); opacity: 0.9;}
    100%{-moz-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-o-keyframes mixcloudy5 {
    0%{-o-transform:translate3d( -80px, 30px, 0); opacity: 0;}
    50%{-o-transform:translate3d( -80px, 30px, 0); opacity: 0;}
    60%{-o-transform:translate3d( -80px, 30px, 0); opacity: 0.9;}
    100%{-o-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-ms-keyframes mixcloudy5 {
    0%{-ms-transform:translate3d( -80px, 30px, 0); opacity: 0;}
    50%{-ms-transform:translate3d( -80px, 30px, 0); opacity: 0;}
    60%{-ms-transform:translate3d( -80px, 30px, 0); opacity: 0.9;}
    100%{-ms-transform:translate3d(0, 0, 0); opacity: 1;}
}

@keyframes mixcloudy6 {
    0%{transform:translate3d( 80px, 30px, 0); opacity: 0;}
    50%{transform:translate3d( 80px, 30px, 0); opacity: 0;}
    60%{transform:translate3d( 80px, 30px, 0); opacity: 0.9;}
    100%{transform:translate3d(0, 0, 0); opacity: 1;}
}
@-moz-keyframes mixcloudy6 {
    0%{-moz-transform:translate3d( 80px, 30px, 0); opacity: 0;}
    50%{-moz-transform:translate3d( 80px, 30px, 0); opacity: 0;}
    60%{-moz-transform:translate3d( 80px, 30px, 0); opacity: 0.9;}
    100%{-moz-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-o-keyframes mixcloudy6 {
    0%{-o-transform:translate3d( 80px, 30px, 0); opacity: 0;}
    50%{-o-transform:translate3d( 80px, 30px, 0); opacity: 0;}
    60%{-o-transform:translate3d( 80px, 30px, 0); opacity: 0.9;}
    100%{-o-transform:translate3d(0, 0, 0); opacity: 1;}
}
@-ms-keyframes mixcloudy6 {
    0%{-ms-transform:translate3d( 80px, 30px, 0); opacity: 0;}
    50%{-ms-transform:translate3d( 80px, 30px, 0); opacity: 0;}
    60%{-ms-transform:translate3d( 80px, 30px, 0); opacity: 0.9;}
    100%{-ms-transform:translate3d(0, 0, 0); opacity: 1;}
}
