/*
 *@file homepage
*/
@import '../lib/skin.scss';

.promlink li {
    float: left;
    width: 33%;
    > a {
        display: block;
        line-height: 42px;
        &:hover {
            color: $color-highlight;
        }
    }
    > a span {
        display: inline-block;
        &:nth-child(2) {
            display: inline;           
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.promlink + .ksc-intro {
    padding: 45px 0 80px !important;
}
.ksc-intro {
    padding: 60px 0 90px;
    h2 {
        text-align: center;
        font-size: 34px;
        color: $color;
        margin-bottom: 30px;
        font-weight: normal;
        + p {
            font-size: 14px;
            color: $color-des;
            margin-bottom: 50px;
            text-align: center;
        }
    }
    .sq-inline {
        overflow: hidden;
        background: url('/assets/img/static/home/bg-sqinline.png') left top no-repeat;
        li {
            float: left;
            width: 199px;
            height: 210px;
            border-right: 1px solid #fff;
            text-align: center;
            font-size: 22px;
            background: rgba(115, 111, 111, 0.9);
            &:hover {
                background: rgba(219, 51, 51, 0.9);
                @include transproptime(background, 500ms);
                span.ico-img {
                    background: transparent;
                    @include crossprop(transform, translateY(11px));
                    img {
                        @include crossprop(filter, invert(1));
                    }
                    + section.intro {
                         @include crossprop(transform, translateY(-45px));
                    }
                }
            }
            a {
                color: $color-light;
                display: block;
                height: 210px;
                overflow: hidden;
                span {
                    display: block;
                    font-size: 12px;
                    margin-top: 30px;
                }
                span.ico-img {
                    background: #fff;
                    width: 82px;
                    height: 82px;
                    @include crossprop(border-radius, 41px);
                    @include crossprop(transform, translateY(44px));
                    @include transitionpropmix(transform 400ms, background 300ms);
                    position: relative;
                    margin: 0 auto 64px;
                    img {
                        width: 40px;
                        height: 43px;
                        margin-top: 20px;
                    }
                    + section.intro {
                         @include transproptime(transform, 400ms);
                    }
                }
            }
        }
    }
    .round-inline {
        + .clearfix {
            margin-bottom: -50px;
        }
        li {
            width: 175px;
            height: 220px;
            float: left;
            margin: 0 100px 50px 0;
            &:nth-of-type(4n) {
                margin: 0;
            }
            &:nth-of-type(5) {
                clear: both;
            }
            a {
                text-align: center;
                display: block;
                font-size: 22px;
            }
            img {
                margin: 0 auto 15px;
                display: block;
                width: 175px;
                height: 175px;
                position: relative;
                @include transproptime(transform, 200ms);
            }
            .round-wrap {
                position: relative;
                &:after, &:before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    content: "";
                    @include crossprop(border-radius, 88px);
                }
                &:before {
                    color: #fff;
                    @include crossprop(transform, translateX(-90px));
                }
            }
            &:hover {
                img {
                    @include crossprop(transform, scale3d(1.1, 1.1, 1.1));
                }
                .disabled img {
                    @include crossprop(transform, scale3d(1, 1, 1));
                }
                .disabled .round-wrap {
                    &:after {
                        background: rgba(126, 123, 124, 0.9);
                        padding: 80px 0 0 0;
                        @include transproptime(background, 200ms);
                    }
                    &:before {
                        content: "敬请期待";
                        z-index: 1;
                        padding: 80px 0 0 0;
                        @include crossprop(transform, translateX(0));
                        @include transproptime(transform, 300ms);
                    }
                }
            }
        }
    }
    .round-inline.active li{
        &:nth-of-type(1) img{
            @include crossprop(animation, eachscale 200ms);
        }
        &:nth-of-type(2) img{
            @include crossprop(animation, eachscale 400ms);
        }
        &:nth-of-type(3) img{
            @include crossprop(animation, eachscale 600ms);
        }
        &:nth-of-type(4) img{
            @include crossprop(animation, eachscale 800ms);
        }
        &:nth-of-type(5) img{
            @include crossprop(animation, eachscale 200ms);
        }
        &:nth-of-type(6) img{
            @include crossprop(animation, eachscale 400ms);
        }
        &:nth-of-type(7) img{
            @include crossprop(animation, eachscale 600ms);
        }
        &:nth-of-type(8) img{
            @include crossprop(animation, eachscale 800ms);
        }
    }   
 
    .col-l {
        float: left;
        width: 50%;
    }
    
    .col-r {
        float: right;
        width: 50%;
    }

    h3 {
        font-size: 28px;
        margin: 0 0 5px 0;
        font-weight: normal;
        display: inline-block;
        border-bottom: 1px solid $skin-title-border;
        padding-bottom: 8px;
        + p {
            margin: 30px 0 20px;
            color: $color-des;
            line-height: 1.75em;
        }
    }
    
    .btn-more {
        color: $color-btn;
        border: 1px solid $skin-btn;
        @include crossprop(border-radius, 3px);
        @include crossprop(transition, background 150ms linear);
        padding: 8px 26px;
        &:hover {
            background: $skin-btn;
            color: $color-light;
        }
    }
    
    .showcase {
        ol:first-child {
            margin: 0 auto;
            > li {
                line-heigt: 32px;
                padding: 5px 15px;
                &:hover {
                    color: $color-highlight;
                }
            }
            > li.active {
                background: $skin-highlight;
                color: $color-light;
            }
        }
        ol:last-child {
            li {
                height: 370px;
            }
        }
    }
    
    .sp-line {
        border-bottom: 1px solid $skin-sp;    
    }
    .co-link {
        li {
            float: left;
            font-size: 20px;
        }
        img {
            width: 128px;
            height: 80px;
        }
    }
    .col-3 {
        span {
            color: $color-dark;
        }
        a:hover {
            color: $color-link-hover;
        }
    }
}

.promvip li {
    border-right: 1px solid $color-light;
    &:last-child {
        border: 0;
    }
}

// animate
@keyframes eachscale {
    0% { transform: scale3d(1.2, 1.2, 1.2);}
    100% { transform: scale3d(1, 1, 1);}
}
